
    	<div class="row">
    		<div id="manageCustomerModal" class="modal hide fade" tabindex="-1" >
     		<article class="span9">
            		<form id="customer-form" accept-charset="UTF-8" class="form-horizontal">
                		<fieldset>
                  		 <legend> Guest Details</legend>
                  		 <div class="alert alert-error" ng-show="error">
    						 <p ng-bind-html-unsafe='errorMessage'>
						 </div>
						 <div class="alert alert-success" ng-show="success">
    						{{successMessage}}
						 </div>
						 
                		 <div class="control-group span4">
                        	<label class="control-label" for="customerName">Guest's Name</label>
	                    	<input type="text"  id="customerName" name="customerName" ng-model="customer.name" ng-readonly="readOnlyMode" placeholder="Example: John Doe">
                       </div>
                		<div class="control-group span4">
                  	     	<label class="control-label" for="mobilePhone">Mobile Phone No.</label>
                    		<input type="tel" id="mobilePhone" name="mobilePhone" ng-model="customer.mobile" ng-readonly="readOnlyMode" placeHolder="Example: 91234567">
                		</div>
                		<div class="control-group span4">
                  	     	<label class="control-label" for="noOfGuests">No. Of Guests</label>
                    		<input type="tel" name="noOfGuests" id="noOfGuests" name="mobilePhone" ng-model="customer.guestCount" ng-readonly="readOnlyMode" placeHolder="Example: 4">
                		</div>
                		<div class="control-group span4">
                  	     	<label class="control-label" for="suggestedWaitTime">Suggested Wait Time</label>
                    		<select id="suggestedWaitTime" name="suggestedWaitTime" ng-model="customer.suggestedWaitTime" ng-disabled="readOnlyMode">
							<option value="">Select One</option>
							<option value="15">15 mins</option>
							<option value="30">30 mins</option>
							<option value="45">45 mins</option>
							<option value="60">60 mins</option>
							<option value="75">75 mins</option>
							<option value="90">90 mins</option>
							<option value="105">105 mins</option>
							<option value="120">120 mins</option>
							</select>
                		</div>
                		<div class="control-group span8">
                	     	<label class="control-label" for="specialRequest">Any Special Requests</label>
                    		<textarea id="specialRequest" name="specialRequest" ng-model="customer.specialRequest"  class="field span8" rows="2" ng-disabled="readOnlyMode" placeholder="Example: Guest wants to be seated near a window facing the skyline view. "></textarea>
                    	</div>
                		<div class="control-group span4" ng-show="editMode">
                	  	     	<label class="control-label" for="status">Guest Status</label>
	                    		<select id="status" name="status" ng-model="customer.status">
								<option value="">New</option>
								<option value="Notified">Notified</option>
								<option value="Arrived">Arrived</option>
								<option value="NoShow">No Show</option>
							</select>
                    	</div>
                		
                		<div class="control-group span4" ng-show="showTable && editMode">
                			 	<label class="control-label" for="serviceRefNo">Allocate Table</label>
	                    		<select id="serviceRefNo" name="serviceRefNo" ng-model="customer.serviceRefNo" ng-disabled="readOnlyMode">
								<option value="0" selected>Allocate one upon guest arrival</option>
								<option value="1">Table 1</option>
								<option value="2">Table 2</option>
								<option value="3">Table 3</option>
								<option value="4">Table 4</option>
								<option value="5">Table 5</option>
								<option value="6">Table 6</option>
							</select>
                    		
                		</div>
                		 </fieldset>
                		 <div class="modal-footer">
                		 	<button type="button" data-dismiss="modal" class="btn">Close</button>
                			<a ng-show="editMode" class="btn btn-1" ng-click="updateCustomer(customer)">Update Customer</a>
    						<a ng-show="!editMode" class="btn btn-1" ng-click="addNewCustomer(customer)">Add Customer</a>
                		 </div>
                		 
                </form>
            </article>
            </div>
    		<article class="span12">
              <p></p>
              <legend>Waiting Guest's <span style="margin-left:10px;"><a ng-click="showNewCustomerModel();" ><img src="resources/footable/img/plus.png" title="New Guest"/></a></span></legend>
	  		  <div ng:app ng-controller="Ctrl">
 				{{message}} <a class="btn btn-1" data-type="submit" ng-click="fetchCustomersList" >Refresh Now</a><BR/>
 				<br>
			 </div>
            <div class="alert alert-info" ng-show="customers.length == 0">
  				It's quiet out here. There are no guest's waiting right now.
   		    </div>

            <div ng-show="customers.length > 0">
   		<table class="footable">
			<thead>
				<tr>
					<th  data-class="expand" data-sort-initial="true">Token No.</th>
					<th>Customer Name</th>
					<th data-hide="phone,tablet">Suggested Wait Time (mins)</th>
					<th data-hide="phone,tablet">Actual Wait Time (mins)</th>
					<th data-hide="phone,tablet">No. Of Guests</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			     <tr ng-repeat="customer in customers | orderBy:predicate" >
        		 	<td>{{customer.token}}</td>
            		<td>{{customer.name}}</td>
            		<td>{{customer.suggestedWaitTime}}</td>
            		<td ng-class="{{customer.suggestedWaitTime}} > {{customer.actualWaitTime}} && 'color-green' || 'color-red'">{{customer.actualWaitTime}}</td>
            		<td>{{customer.guestCount}}</td>
            		<td class="center">
            		<a data-type="submit" role="button"  ng-click="notifyCustomer(customer)" data-toggle="modal"><img src="resources/images/sms.png" alt="Notify"/></a> 
            		<a data-type="submit"  ng-click="editCustomer(customer)"><img src="resources/images/edit.png" alt="Edit"/></a>
            		<a data-type="submit"  ng-click="arrivedCustomer(customer)"><img src="resources/images/arrived.png" alt="Arrived"/></a>
            		<a data-type="submit"  ng-click="noShowCustomer(customer)"><img src="resources/images/noshow.png" alt="No Show"/></a>
            		</td>
        		</tr>
			</tbody>
	</table>
	</div>
	<div><BR/><BR/></div>
    </article>
    </div>
    
 
<!-- Notification Modal -->

<div id="notificationModal" class="modal hide fade" tabindex="-1" data-width="760">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h3>Notify  {{customer.name}}</h3>
  </div>
  <div class="alert alert-error" ng-show="notificationError">
	 <p ng-bind-html-unsafe='notifcationErrorMessage'>
	</div>
	<div class="alert alert-success" ng-show="notificationSuccess">
		{{notificationSuccessMessage}}
	</div>
	 
  <form ng-submit="notify(customer)" id="notifyForm">
  <div class="modal-body">
  <span >A text message will be sent to <b>{{customer.name}}'s</b> mobile no <b>{{customer.mobile}}</b></span>
  <BR/><BR/>
    <div class="row-fluid">
      <div class="span6">
                    <label class="ready-time"><strong>Table Will Be Ready In</strong></label>
                    <select id="serviceInTime" ng-model="customer.serviceInTime">
							<option value="5" selected>5 mins</option>
							<option value="10">10 mins</option>
							<option value="15">15 mins</option>
							<option value="20">20 mins</option>
							<option value="25">25 mins</option>
							<option value="30">30 mins</option>
					</select>
     </div>
      <div class="span6">
                    <label class="table-no"><strong>Allocate Table</strong></label>
                    <select id="serviceRefNo" ng-model="customer.serviceRefNo">
							<option value="0" selected>Allocate one upon guest arrival</option>
							<option value="1">Table 1</option>
							<option value="2">Table 2</option>
							<option value="3">Table 3</option>
							<option value="4">Table 4</option>
							<option value="5">Table 5</option>
							<option value="6">Table 6</option>
					</select>
     </div>
    </div>
  </div>
    <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Close</button>
    <button type="submit" class="btn btn-1">Notify Customer</button>
  </div>
  </form>
</div>
 


 
 <script>
 function Ctrl($scope) {
	  $scope.message = "Last Refresh At " + new Date();
	    
	    setTimeout(function () {
	        $scope.$apply(function () {
	        	$scope.fetchCustomersList();
	            $scope.message = "Last Refresh At " + new Date();
	        });
	    }, 60000);
	}
 
 $(function() {
   $('.footable').footable();
 });
 
 
</script>

 
