<!DOCTYPE html>
<html lang="en"  ng-app="AngularSpringApp">
	<head>
	<title>Q-Nizer</title>
	<meta charset="utf-8">
	<link rel="icon" href="resources/images/queue.png" type="image/x-icon">
    <link rel="shortcut icon" href="images/queue.png" type="image/x-icon" />
    <meta name="description" content="Manage your customer's waiting time">
    <meta name="keywords" content="queue, customer, management, waittime, nowait">
    <meta name="author" content="">  
	<link rel="stylesheet" href="resources/bootstrap/css/bootstrap.css" type="text/css" media="screen">
	<link rel="stylesheet" href="resources/bootstrap/css/responsive.css" type="text/css" media="screen">
	<link rel="stylesheet" href="resources/bootstrap/css/bootstrap-modal.css" type="text/css" media="screen">
	<link rel="stylesheet" href="resources/bootstrap/css/style.css" type="text/css" media="screen">
	<link rel="stylesheet" href="resources/bootstrap/css/touchTouch.css" type="text/css" media="screen">
	<link rel="stylesheet" href="resources/bootstrap/css/kwicks-slider.css" type="text/css" media="screen">
	<link href='resources/css/font.css' rel='stylesheet' type='text/css'>
	<link href="resources/footable/footable-0.1.css" rel="stylesheet" type="text/css" />
 	<link href="resources/footable/footable.sortable-0.1.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="resources/js/jquery.js"></script>
    <script type="text/javascript" src="resources/js/superfish.js"></script>
	<script type="text/javascript" src="resources/js/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="resources/js/jquery.kwicks-1.5.1.js"></script>
	<script type="text/javascript" src="resources/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="resources/js/jquery.cookie.js"></script>    
	<script type="text/javascript" src="resources/js/jquery.dataTables.js"></script>  
	<script type="text/javascript" src="resources/js/touchTouch.jquery.js"></script>
	<script src="resources/js/forms.js"></script>
	<script src="resources/js/DT_bootstrap.js"></script>
	<script type="text/javascript">if($(window).width()>1024){document.write("<"+"script src='resources/js/jquery.preloader.js'></"+"script>");}</script>

	<script>		
		 jQuery(window).load(function() {	
		 $x = $(window).width();		
	if($x > 1024)
	{			
	jQuery("#content .row").preloader();    }	
		 
     jQuery('.magnifier').touchTouch();			
    jQuery('.spinner').animate({'opacity':0},1000,'easeOutCubic',function (){jQuery(this).css('display','none')});	
  		  }); 
				
	</script>

	<!--[if lt IE 8]>
  		<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/img/upgrade.jpg"border="0"alt=""/></a></div>  
 	<![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!-->
	<!--<![endif]-->
	<!--[if lt IE 9]>
    <script src="resources/js/html5.js"></script>
    <link rel="stylesheet" href="resources/bootstrap/css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="resources/bootstrap/css/ie.css" type="text/css" media="screen">
    <link href='css/font.css' rel='stylesheet' type='text/css'>
  <![endif]-->
  
</head>
<body class="qnizer">
<div class="spinner"></div> 
<!-- header start -->
<header >
      <div class="container clearfix">
    <div class="row">
        <div class="span12">
        <div class="navbar navbar_" >
            <div class="container">
            <h1 class="brand brand_"><a href="#/home"><img alt="" src="resources/images/logo.png"> </a></h1>
             <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse_">Menu <span class="icon-bar"></span> </a>
             <div class="nav-collapse nav-collapse_  collapse" id="menu">
              <ul class="nav sf-menu">
                <li ><a href="#/home">Login</a></li>
                <li ><a href="#/public/signup">Signup</a></li>
                <li ><a href="#/home">Home</a></li>
                <li ><a href="#/dashboard">Dashboard</a></li>
                <li ><a href="blog.html">Settings</a></li>
                <li ><a href="contact.html">Contact</a></li>
              </ul>
                </div>
 	         </div>
            </div>
      </div>
        </div>
  </div>
</header>

<div id="login-holder" class="modal hide fade" tabindex="-1" data-width="760">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h3>Please login with your credentials</h3>
  </div>
  
  <div id="login-inner" ng:controller="LoginController">
  <div class="alert alert-error" ng-show="error">
   		Credentials not valid. Please retry.
   </div>
   <form ng-submit="login()">
  <div class="modal-body">
    <div class="row-fluid">
     <fieldset>
      <div class="span6">
        <h5>User Name</h5>
        <p><input type="text" class="login-inp" ng-model="username"class="span12"></p>
      </div>
      <div class="span6">
        <h5>Password</h5>
        <p><input type="password" class="login-inp" ng-model="password" class="span12"></p>
      </div>
      </fieldset>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Close</button>
    <button type="submit" class="btn btn-1">Login</button>
  </div>
  </form>
  </div>
</div>
 
<div class="bg-content" id="main-content">
	<div class="container">
		<div ng-view></div>
	</div>
</div>
	
<div><BR/><BR/></div>

<!-- footer -->
<footer>
  <div class="container clearfix">
    <div class="privacy pull-left">&copy; 2013 | <a href="#/home">QNizer</a></div>
  </div>
    </footer>
</body>
</html>
<script type="text/javascript" src="resources/js/bootstrap.js"></script>
<script type="text/javascript" src="resources/js/modernizr.js"></script>   
<script src="resources/js/lib/angular/angular.min.js"></script>
<script src="resources/js/lib/angular/angular-sanitize.min.js"></script>

<!-- chart libraries start -->
<script src="resources/js/lib/charts/excanvas.js"></script>
<script src="resources/js/lib/charts/jquery.flot.min.js"></script>
<script src="resources/js/lib/charts/jquery.flot.pie.min.js"></script>
<script src="resources/js/lib/charts/jquery.flot.stack.js"></script>
<script src="resources/js/lib/charts/jquery.flot.resize.min.js"></script>
<script src="resources/js/lib/charts/nizer-charts.js"></script>
<!-- chart libraries end -->
	
<script src="resources/js/app.js"></script>
<script src="resources/js/services.js"></script>
<script src="resources/js/controllers/HomeController.js"></script>
<script src="resources/js/filters.js"></script>
<script src="resources/js/directives.js"></script>
<script src="resources/js/http-auth-interceptor.js"></script>
<script src="resources/js/auth-events.js"></script>


<script src="resources/footable/footable.js"></script>
<script src="resources/footable/footable.sortable.js"></script>
<script src="resources/js/controllers/LoginController.js"></script>
<script src="resources/js/controllers/PublicController.js"></script>


</body>
</html>

<!--<script src="resources/js/controllers/DashboardController.js"></script>
<script src="resources/js/controllers/SettingsController.js"></script>
<script src="resources/js/controllers/ContactController.js"></script>
 -->
